<div class="cart_title"><%=  t('.title') %></div>
<table>
  <%= render(cart.line_items) %>
<tr class="total_line">
  <td colspan="2"><%= t('.total') %></td>
  <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
</tr>
</table>

<% unless current_page?(new_order_path) %>
  <%= button_to t('.checkout') ,new_order_path, method: :get %>
  <%= button_to t('.empty_cart') ,cart, method: :delete, 
     :data => { :confirm => 'Are you sure?' } %>
<% end %>